.sidebar, .main {
	padding-top: 60px;
}
col.Action {
	width: 60px;
}
.dz-message {
	border: thin dashed #E2E2E2;
	padding: 20px;
	text-align: center;
}
.dz-preview .dz-success-mark,
.dz-preview .dz-error-mark {
	display: none;
}
.dz-progress {
	display: block;
	height: 6px;
	width: 1%;
}
.dz-upload {
	display:block;
	height: 6px;
	background-color: rgba(0,255,0,0.7)
}
#GameList td {
    cursor: pointer;
}
