.sidebar, .main {
	padding-top: 60px;
}
col.Action {
	width: 60px;
}
.dz-message {
	border: thin dashed #E2E2E2;
	padding: 20px;
	text-align: center;
}
.dz-preview .dz-success-mark,
.dz-preview .dz-error-mark {
	display: none;
}
#GameList td {
    cursor: pointer;
}