$def with (controller)

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 main">
      <h1 class="page-header">Dependencies</h1>
      <p>RetroPage in built on top of the following open source projects</p>
      <table class="table table-hover">
        <colgroup>
          <col class='Action'>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Ver.</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><a href='http://jquery.com/' class='btn btn-primary btn-xs'>www</a></td><td>jQuery</td><td><code>1.11.0</code></td></tr>
          <tr><td><a href='http://getbootstrap.com/' class='btn btn-primary btn-xs'>www</a></td><td>Bootstrap</td><td><code>3.1.1</code></td></tr>
          <tr><td><a href='http://webpy.org/' class='btn btn-primary btn-xs'>www</a></td><td>web.py</td><td><code>0.37</code></td></tr>
          <tr><td><a href='https://pypi.python.org/pypi/humanize' class='btn btn-primary btn-xs'>www</a></td><td>humanize.py</td><td><code>0.5</code></td></tr>
          <tr><td><a href='http://www.dropzonejs.com/' class='btn btn-primary btn-xs'>www</a></td><td>DropZone.js</td><td><code>3.0</code></td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3 sidebar">
      <div class='well'>You have <code>$controller.getFreeSpace()</code> available.</div>
      <div class="well">RetroPage is a web interface to your awesome RetoPie</div>
    </div>
  </div>
</div>