$def with (controller, system)

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 main">
      <h1 class="page-header">$system.Name</h1>
      <table class="table table-hover">
        <colgroup>
          <col>
          <col class='Action'>
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody id='GameList'>
        	$:system.games()
        </tbody>
      </table>
    </div>
    <div class="col-sm-3 sidebar">
      <div class='well'>You have <code>$controller.getFreeSpace()</code> available.</div>
      <div class="well">You can drag and drop files to upload them to your RetroPie.</div>
      <form action="/upload" class="dropzone" id="retro-page-system-dropzone">
        <input type='hidden' name='system' value='$system.Id'/>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id='GameView'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rename file</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="inputFileName">File name:</label>
            <input type="text" class="form-control" id="inputFileName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" id='actionDelete'>Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='actionRename'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dialog = $$('#GameView');
  Dropzone.options.retroPageSystemDropzone = {
    init: function() {
      this.on("complete", function(file) {
        if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
          window.location.reload(true);
        }
      });
    }
  };
  $$('#actionRename').on('click', function() {
	  var input = $$('#inputFileName');
	  $$.post('/rename', {'system':'$system.Id', 'from':input.data('Original'), 'to': input.val()}, function(data) {
		if(data.Success) {
		  window.location.reload(true);
		} else {
		  alert(data.error);
		}
	  });
  });
  $$('#actionDelete').on('click', function() {
	  var input = $$('#inputFileName');
	  $$.post('/delete', {'system':'$system.Id', 'name': input.val()}, function(data) {
        if(data.Success) {
          window.location.reload(true);
        } else {
          alert(data.error);
        }  
	  });
  });
  $$('tr', '#GameList').on('click', function() {
	var row = $$(this),
		name = $$('.FileName', row).text();
	$$('#inputFileName').val(name).data('Original', name);
	dialog.modal('show');
  });
</script>